@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Please contact to get address<br />    
    <abbr title="Phone">P:</abbr>
    647-430-2858
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rutav.dharek@gmail.com">rutav.dharek@gmail.com</a><br />    
</address>